/* ::::::::::::: domain sayfalarda gerekli olanlar :::::::::::: */
body { background: #000000;}

/* background_rear*/
#bg-wrp { }
/* background_front*/
#bg {  width:100%; background-image: url(../allahsevgisi.jpg);  background-repeat: no-repeat; background-color:#ffffff; }

#header { width:460px; background-image:url(../../../../../assets/images/hy_muhur_category.gif) !important;}
#header a { width:460px; }
#dock_wrapper { width:505px; !important; height:110px; padding:0;letter-spacing:-1px; color:#eee; overflow:hidden; position:relative; text-shadow:1px -1px 1px #000, 1px 0 2px #000;font-size:36px; line-height:36px;}
#dock_wrapper:before {display: block; margin:0; padding:0; position:absolute;width: 100%; text-align: right; top: 30%;}

/* domain olduğunda okuma sayfaları için düzenleme*/

/************* Top_Nav *************/
#top-nav-bg { background:none;}
#navmenu ul li {  padding-right:2px; text-shadow: 0 1px 2px #000,  1px 0 1px #003366; background-image:url(../../../../../assets/images/menu_title_bg_gri.gif)}
#top-nav { background-color:#c4c5c9; background: rgba(0,0,0,.3) url(../../../../../assets/images/top_nav_bg.png) 0 0 repeat-x; border:1px solid #fff; border-top:none; 	-moz-box-shadow:0 0 5px #ccc; -webkit-box-shadow:0 0 5px #ccc;
border-radius: 0px 0px 15px 15px; -moz-border-radius: 0px 0px 15px 15px; -webkit-border-bottom-right-radius: 15px; -webkit-border-bottom-left-radius: 15px;}
#navmenu ul li a:hover { background: url(../../../../../assets/images/top_nav_over-shdw.png) repeat-x 0 0;}

/* ::::::::::::::: Diğer :::::::::::: */



#vwrp {
	width:622px;
	float:left;
}
