﻿.canli-yayin-player-container {
	width		: 100%;
	height	: 100%;
	position: relative;
	overflow: hidden;
	padding: 0px;
	margin: 0px;

}

.canli-yayin-tam-ekran-dugmesi,
.canli-yayin-ayarlar-alani,
.canli-yayin-ses-ayar-alani,
.canli-yayin-ses-dugmesi,
.canli-yayin-play-dugmesi{
	cursor: pointer;
}

.canli-yayin-player{
	width		: 100%;
	height	: 100%;
	overflow: hidden;
}

.ilgili-videolar-dugmesi {
	position: absolute;
	left: 10px;
	top: 10px;
	width: auto;
	height: auto;
	background: rgba(33, 33, 33, 0.9);
	border-radius: 14px;
	color: white;
	font-size: 15px;
	padding: 6px;
}

.canli-yayin-player-kalite-menu ul,
.canli-yayin-player-kalite-menu li {

	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;

	list-style:none;

}

.canli-yayin-player-kalite-menu li{

	box-sizing: border-box;
	line-height: 150%;
	cursor: pointer;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;

}

.canli-yayin-player-kalite-menu li:hover{

	background: rgba(255,255,255,0.2);

}

.canli-yayin-player-kalite-menu {

	position: absolute;
	bottom: 50px;
	right: 30px;
	width: auto;
	height: auto;
	background: rgba(0,0,0,0.85);

	padding-top: 15px;
	padding-bottom: 15px;

	border-radius: 10px;

}

.pre-animation {
	opacity:0;
	max-height: 0;
}

.canli-yayin-player-settings-menu{

	right: 10px;
	bottom: 40px;
	width: auto;
	border-radius: 3px;
	background: rgba(0,0,0,0.7);
	position: absolute;
	padding: 15px;
	color: white;

}

.canli-yayin-player-oynatim-alt-menu {

	position: absolute;
	z-index: 30;
	bottom:0px; left: 0px; right: 0px;
	height: 39px;

	left: 12px;
	right: 12px;

}
.canli-yayin-ayarlar-alani {

	width: 40px;
	display: inline-block;
	height: 100%;
	vertical-align: top;

}
.canli-yayin-bilgi-alani {
	display: inline-block;
	height: 100%;
	width: 60px;
	color: white;

	font-size: 15px;

	vertical-align: top;
	margin-left: 15px;
	margin-top :  7px;

}

.canli-yayin-player-settings-menu ul {

	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
	list-style: none;

}

.canli-yayin-player-settings-menu li {

	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
	list-style: none;

}

@keyframes fadeIn {
	to {
		opacity: 1;
	}
}

.fade-in {
	opacity: 0;
	animation: fadeIn .5s ease-in 1 forwards;
}

@keyframes fadeOut {
	to {
		opacity: 0;
	}
}

.fade-out {
	animation: fadeOut .5s ease-in 1 forwards;
}

.secili_kalite {
	background: rgba(255,255,255,0.3);
}

.canli-yayin-ses-ayar-alani {
	display: inline-block;
	height: 100%;
	width: 80px !important;
}
.canli-yayin-ses-ayar-alani input[type=range] {
	/*removes default webkit styles*/
	-webkit-appearance: none;

	/*fix for FF unable to apply focus style bug */

	/*required for proper track sizing in FF*/
	height: 100%;
	width: 100%;
	background: transparent;

	box-sizing: border-box;

}
.canli-yayin-ses-ayar-alani input[type=range]::-webkit-slider-runnable-track {
	height: 3px;
	background: #ddd;
	border: none;
	border-radius: 3px;
}
.canli-yayin-ses-ayar-alani input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	border: none;
	height: 12px;
	width: 12px;
	border-radius: 50%;
	background: #e62117;
	margin-top: -5px;
}
.canli-yayin-ses-ayar-alani input[type=range]:focus {
	outline: none;
}
.canli-yayin-ses-ayar-alani input[type=range]:focus::-webkit-slider-runnable-track {
	background: #ccc;
}

.canli-yayin-ses-ayar-alani input[type=range]::-moz-range-track {
	height: 3px;
	background: #ddd;
	border: none;
	border-radius: 3px;
}
.canli-yayin-ses-ayar-alani input[type=range]::-moz-range-thumb {
	border: none;
	height: 12px;
	width: 12px;
	border-radius: 50%;
	background: #e62117;
}




/*hide the outline behind the border*/
.canli-yayin-ses-ayar-alani input[type=range]:-moz-focusring{
	outline: 1px solid white;
	outline-offset: -1px;
}

.canli-yayin-ses-ayar-alani input[type=range]::-ms-track {
	height: 5px;

	/*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
	background: transparent;

	/*leave room for the larger thumb to overflow with a transparent border */
	border-color: transparent;
	border-width: 6px 0;

	/*remove default tick marks*/
	color: transparent;
}
.canli-yayin-ses-ayar-alani input[type=range]::-ms-fill-lower {
	background: #777;
	border-radius: 10px;
}
.canli-yayin-ses-ayar-alani input[type=range]::-ms-fill-upper {
	background: #ddd;
	border-radius: 10px;
}
.canli-yayin-ses-ayar-alani input[type=range]::-ms-thumb {
	border: none;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	background: #e62117;
}
.canli-yayin-ses-ayar-alani input[type=range]:focus::-ms-fill-lower {
	background: #888;
}
.canli-yayin-ses-ayar-alani input[type=range]:focus::-ms-fill-upper {
	background: #ccc;
}

.ytp-svg-fill {
	fill: #fff;
}
.player-dugme {
	width: 46px;
	height: 100%;
	opacity: .9;
	display: inline-block;
	-moz-transition: opacity .1s cubic-bezier(0.4,0.0,1,1);
	-webkit-transition: opacity .1s cubic-bezier(0.4,0.0,1,1);
	transition: opacity .1s cubic-bezier(0.4,0.0,1,1);
	overflow: hidden;
	outline: 0;

	border: none;
	background-color: transparent;
	padding: 0;
	color: inherit;
	text-align: inherit;
	font-size: 100%;
	font-family: inherit;
	line-height: inherit;
}

.canli-yayin-player-oynatim-alt-menu-soldaki-dugmeler {

	float: left;
	height: 100%;

}
.canli-yayin-player-oynatim-alt-menu-sagdaki-dugmeler {

	float: right;
	height: 100%;

}
.canli-yayin-player-osd{

	position: absolute;
	left: 0px; right: 0px; top: 0px; bottom: 0px;

}

.canli-yayin-player-oynatim-gradient {

	position: absolute;
	bottom: 0px;
	height: 85px;
	left: 0px; right: 0px;

	background-repeat: repeat-x;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADGCAYAAAAT+OqFAAAAdklEQVQoz42QQQ7AIAgEF/T/D+kbq/RWAlnQyyazA4aoAB4FsBSA/bFjuF1EOL7VbrIrBuusmrt4ZZORfb6ehbWdnRHEIiITaEUKa5EJqUakRSaEYBJSCY2dEstQY7AuxahwXFrvZmWl2rh4JZ07z9dLtesfNj5q0FU3A5ObbwAAAABJRU5ErkJggg==);
	-moz-transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
	-webkit-transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
	transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
	pointer-events: none;
	bottom: 0;
	z-index: 20;
	background-position: bottom;

}

.canli-yayin-ilgili-videolar {

	position: absolute;
	left: 0px; right: 0px;
	top: 0px; bottom: 0px;
	z-index: 9999;
	background: rgba(0,0,0,0.8);

}

.kapatdugmesi{

	position: absolute;

	right: 10px;
	top: 10px;

	color: white;
	background: transparent;
	border: 0px;

}

.bggrad {

	background-image: -moz-linear-gradient(top,rgba(12,12,12,0.8) 0,transparent 100px);
	background-image: -ms-linear-gradient(top,rgba(12,12,12,0.8) 0,transparent 100px);
	background-image: -o-linear-gradient(top,rgba(12,12,12,0.8) 0,transparent 100px);
	background-image: -webkit-linear-gradient(top,rgba(12,12,12,0.8) 0,transparent 100px);
	background-image: linear-gradient(to bottom,rgba(12,12,12,0.8) 0,transparent 100px);
	-moz-transition: opacity .3s ease;
	-webkit-transition: opacity .3s ease;
	transition: opacity .3s ease;

}

.player-konum {
	position: absolute;
	bottom: 35px;
	left:12px;
	right: 12px;
}

.range-slider {margin:0 5px 10px}
.range-slider-track {
	width:auto;
	height:20px;
	margin:0 auto;
	position:relative;
	cursor:e-resize;
}
.range-slider-track:before {
	content:"";
	display:block;
	position:absolute;
	top:9px;
	left:0;
	width:100%;
	height:4px;
	background-color:white;
}
.range-slider-track .dragger {
	display:block;
	width : 16px;
	height: 16px;
	position:relative;
	z-index:2;
	background-color:red;
	cursor:inherit;
	top: 3px;
	border-radius: 9px;
	/* opacity:.6; */
}
.range-slider-vertical {
	display:inline-block;
	vertical-align:middle;
	margin:5px 10px 5px 0;
}
.range-slider-vertical .range-slider-track {
	cursor:n-resize;
	width:20px;
	height:100px;
}
.range-slider-vertical .range-slider-track:before {
	top:0;
	right:auto;
	left:9px;
	width:2px;
	height:100%;
}
.range-slider-vertical .range-slider-track .dragger {
	width:inherit;
	height:10px;
}






.player-konum input[type=range] {
	-webkit-appearance: none;
	width: 100%;
	margin: 0;
	background-color: rgba(255,255,255,0);
	height: 20px;
}
.player-konum input[type=range]:focus {
	outline: none;
}
.player-konum input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 7.4px;
	cursor: pointer;
	box-shadow: 0.4px 0.4px 15px rgba(0, 0, 0, 0.06), 0px 0px 0.4px rgba(13, 13, 13, 0.06);
	background: rgba(230, 230, 230, 0.66);
	border-radius: 25px;
	border: 0px solid rgba(0, 1, 1, 0);
}
.player-konum input[type=range]::-webkit-slider-thumb {
	box-shadow: 1.2px 1.2px 7.3px rgba(0, 0, 0, 0.36), 0px 0px 1.2px rgba(13, 13, 13, 0.36);
	border: 0px solid rgba(0, 0, 0, 0);
	height: 20px;
	width: 20px;
	border-radius: 29px;
	background: rgba(200, 44, 44, 0.99);
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -6.3px;
}
.player-konum input[type=range]:focus::-webkit-slider-runnable-track {
	background: rgba(245, 245, 245, 0.66);
}
.player-konum input[type=range]::-moz-range-track {
	width: 100%;
	height: 7.4px;
	cursor: pointer;
	box-shadow: 0.4px 0.4px 15px rgba(0, 0, 0, 0.06), 0px 0px 0.4px rgba(13, 13, 13, 0.06);
	background: rgba(230, 230, 230, 0.66);
	border-radius: 25px;
	border: 0px solid rgba(0, 1, 1, 0);
}
.player-konum input[type=range]::-moz-range-thumb {
	box-shadow: 1.2px 1.2px 7.3px rgba(0, 0, 0, 0.36), 0px 0px 1.2px rgba(13, 13, 13, 0.36);
	border: 0px solid rgba(0, 0, 0, 0);
	height: 20px;
	width: 20px;
	border-radius: 29px;
	background: rgba(200, 44, 44, 0.99);
	cursor: pointer;
}
.player-konum input[type=range]::-ms-track {
	width: 100%;
	height: 7.4px;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
}
.player-konum input[type=range]::-ms-fill-lower {
	background: rgba(215, 215, 215, 0.66);
	border: 0px solid rgba(0, 1, 1, 0);
	border-radius: 50px;
	box-shadow: 0.4px 0.4px 15px rgba(0, 0, 0, 0.06), 0px 0px 0.4px rgba(13, 13, 13, 0.06);
}
.player-konum input[type=range]::-ms-fill-upper {
	background: rgba(230, 230, 230, 0.66);
	border: 0px solid rgba(0, 1, 1, 0);
	border-radius: 50px;
	box-shadow: 0.4px 0.4px 15px rgba(0, 0, 0, 0.06), 0px 0px 0.4px rgba(13, 13, 13, 0.06);
}
.player-konum input[type=range]::-ms-thumb {
	box-shadow: 1.2px 1.2px 7.3px rgba(0, 0, 0, 0.36), 0px 0px 1.2px rgba(13, 13, 13, 0.36);
	border: 0px solid rgba(0, 0, 0, 0);
	height: 20px;
	width: 20px;
	border-radius: 29px;
	background: rgba(200, 44, 44, 0.99);
	cursor: pointer;
	height: 7.4px;
}
.player-konum input[type=range]:focus::-ms-fill-lower {
	background: rgba(230, 230, 230, 0.66);
}
.player-konum input[type=range]:focus::-ms-fill-upper {
	background: rgba(245, 245, 245, 0.66);
}

